<section id="answer-view" class="mainbar" data-ng-controller="answer as vm">
    <div class="pull-left w100p">
        <!-- Jumbotron Header -->
        <header class="eo-header">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="userbx userbxouter">
                                <span class="fl mrgrgt2"><b>Posted By: </b> {{PatientName}} ({{question.PatientGender}})</span>
                                <span style="float:right"><b>Date: </b>{{question.CreatedOn| date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="w100p pull-left qstnbx mrgtop3 mrgbtm3">
                                <span class="bold fa-5x">{{question.Description}}</span>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div>
                                <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#" ng-click="ShowHideAdditional()">View additional details <span class="glyphicon glyphicon-option-horizontal bold custICon "></span></a>

                                <label class="nrml pull-right" ng-hide="question.Attach1!=undefined && question.Attach1!=''">No Reports Attached</label>
                                <div class="btn-group pull-right" ng-show="question.Attach1!=undefined && question.Attach1!=''">
                                    <a class="dropdown-toggle btn btn-default " data-toggle="dropdown" href="#">
                                        View Reports:
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-show="question.Attach1!=undefined && question.Attach1!=''">
                                            <a target="_blank" ng-href='{{ServerURL}}/Attachments/{{question.Attach1}}'>
                                                Report 1
                                            </a>
                                        </li>
                                        <li ng-show="question.Attach2!=undefined && question.Attach2!=''">
                                            <a target="_blank" ng-href='{{ServerURL}}/Attachments/{{question.Attach2}}'>
                                                Report 2
                                            </a>
                                        </li>
                                        <li ng-show="question.Attach3!=undefined && question.Attach3!=''">
                                            <a target="_blank" ng-href='{{ServerURL}}/Attachments/{{question.Attach3}}'>
                                                Report 3
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div ng-show="showingAdditional">


                                <div class="panel panel-default mrgtop2">
                                    <div class="panel-heading" style="background-color:white">
                                        <div class="row">
                                            <div class="col-md-4">
                                                Visited Doctor
                                            </div>
                                            <div class="col-md-8 bgwht">
                                                <span class="badge" ng-class="question.VisitedDoctor?'Yes':'No'">{{question.VisitedDoctor?'Yes':'No'}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                What have you tried yet
                                            </div>
                                            <div class="col-md-8 bgwht">
                                                {{question.Remarks}}
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">

                        <div class="row"><h5>Previous Comments:</h5></div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="w100p fl" ng-repeat="followup in FollowUps | orderBy:'FollowUpIndex'">
                                        <div class="media brdbtm1gry pdbtm3">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object userProimg" ng-src="{{ServerURL+'/Attachments/'+(followup.ExpertPhoto||'nophoto.jpg')}}">
                                                </a>
                                                <!--<span class="nouser ">

                                                </span>-->
                                            </div>
                                            <div class="media-body">

                                                <p class="media-heading pdbtm0 mrgbtm0">{{followup.ExpertReply}}</p>
                                                <div class="clearfix"></div>

                                                <div class="w100p fl text-left fs11 posteddate pdbtm2">
                                                    Date : {{followup.RepliedOn | date:'dd-MM-yyyy'}}
                                                </div>
                                                <div class="w100p fl text-left fs11  ">  <span class="btn btn-default alert-success btn-xs btn-info mrgrgt1 ">Followup Reply by Dr. {{followup.ExpertName}}</span> </div>

                                            </div>
                                        </div>

                                        <div class="media brdbtm1gry pdbtm3">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object userProimg" ng-src="{{ServerURL+'/Attachments/nophoto.jpg'}}">
                                                </a>
                                            </div>
                                            <div class="media-body">

                                                <p class="media-heading pdbtm0 mrgbtm0">{{followup.FollowUpQuestion}}</p>

                                                <div class="clearfix"></div>
                                                <div class="w100p fl text-left fs11 posteddate pdbtm2">Date : {{followup.CreatedOn | date:'dd-MM-yyyy'}}</div>

                                                <div class="w100p fl text-left fs11"><span class="btn btn-default alert-danger btn-xs btn-info mrgrgt1 ">Follow Up by {{PatientName}}</span> </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="media" ng-show="question.ExpertReply != undefined">
                                        <div class="media-left">
                                            <img class="media-object userProimg" ng-src="{{ServerURL+'/Attachments/nophoto.jpg'}}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p class="media-heading">{{question.ExpertReply}}</p>
                                            <div class="clearfix"></div>
                                            <div class="w100p fl text-left fs11 posteddate pdbtm2">Date : {{question.RepliedOn | date:'dd-MM-yyyy'}}</div>

                                            <div class="w100p fl text-left fs11">
                                                <span class="btn btn-default alert-success btn-xs btn-info mrgrgt1 ">Expert Reply</span>
                                            </div>


                                            <!--  <div class="w100p fl text-left">{{followup.CreatedOn | date:'dd-MM-yyyy'}}</div>-->
                                        </div>
                                    </div>
                                    <div class="media" ng-show="question.ExpertReply == undefined">
                                        <p>No reply has been submitted for this question.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bxshadow">

                                <div class="w100p fl frmbx">
                                    <div class="frmbg">
                                        <div class="frmheader bgwht ff_myriad bold">{{question.Description}}</div>
                                        <div class="alert-info">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    By:{{PatientName}}
                                                </div>
                                                <div class="col-md-2">
                                                    Gender:{{question.PatientGender}}
                                                </div>
                                                <div class="col-md-3">
                                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" ng-click="ShowHideAdditional()">
                                                        <span ng-hide="showingAdditional">Show Additional Details</span>
                                                        <span ng-show="showingAdditional">Hide Additional Details</span>
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Date:{{question.CreatedOn| date:'dd-MM-yyyy'}}
                                                </div>
                                            </div>
                                        </div>
                                        <br />


                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-lg-12 col-md-12">


                                <div class="row" ng-repeat="followup in FollowUps | orderBy:'FollowUpIndex'">
                                    <p class="alert-success">{{followup.ExpertReply}} {{followup.RepliedOn | date:'dd-MM-yyyy'}}</p>
                                    <p class="alert-danger">{{followup.FollowUpQuestion}} {{followup.CreatedOn | date:'dd-MM-yyyy'}}</p>
                                </div>
                                <div class="row">
                                    <p class="alert-info">
                                        {{question.ExpertReply}}
                                    </p>
                                </div>
                            </div>
                        -->
                    </div>
                </div>
        </header>
    </div>
</section>