<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<appSettings>
		<!--<add key="serviceBaseURL" value="http://66.219.98.58/api/"/>-->
		<add key="serviceBaseURL" value="http://localhost:1179/api/"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
	  
  </system.web>
 <system.webServer>
        <handlers>
            <add name="htm" path="*.html" verb="POST" modules="IsapiModule"  scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>