<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
    </div>
    <div class="modal-body" id="divsignup">

        <p class="alert-info">{{emailMessage}}</p>
        <!--<small>Enter the email address , Current Password and New Passowrd.</small>-->

        <form id="userentry-form" ng-submit="SendResetMail()">
            <div class="form-group">
                <label>Current Password</label>
                <input class="form-control" type="text" placeholder="Current Password" required ng-model="$parent.pwd">
                <br />
                <label>New Password</label>
                <input class="form-control" type="text" placeholder="New Password" required ng-model="$parent.npwd">

            </div>

            <button ng-disabled="IsLoading" type="submit" class="btn btn-default">Submit</button>
            <div ng-show="IsLoading" class="span1">
                <img src="content/images/loading.gif" />
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div><!-- /.modal-content -->














