<div class="modal-header">
    <h3>
        Reset Password</h3>
</div>
<div class="modal-body">
    <form id="userentry-form">
    <small>Enter the email address associated with your account, and we'll email you a link to reset your password.</small>
    <br /><br />
    <div>
        <input type="email" placeholder="Email Address" required ng-model="$parent.email">
        <br />
        <span>{{emailMessage}}</span>
        <div class="row">
            <div class="span3">
                <br />
                <button type="submit" ng-click="SendResetMail()" class="btn btn-primary btn-large large padded-btn-block">
                    Send Reset Link
                </button>
            </div>
            <div ng-show="IsLoading" class="span1">
            <br />
                <img src="Assets/Images/loading.gif" />
            </div>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">
        Cancel</button>
</div>
