<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
    </div>
    <div class="modal-body" id="divsignup">

        <p class="alert-info">{{emailMessage}}</p>
        <small>Enter the email address associated with your account, and we'll email you a temporary password.</small>

        <form id="userentry-form">
            <div class="form-group">
                <label>Email Address</label>
                <input class="form-control" type="email" placeholder="Email Address" required ng-model="$parent.email">
            </div>

            <button ng-disabled="IsLoading" type="submit" ng-click="SendResetMail()" class="btn btn-default">Submit</button>
            <div ng-show="IsLoading" class="span1">
                <img src="content/images/loading.gif" />
            </div>
            
             
        </form>
    </div>
    <div class="modal-footer">

        Already a Member? <a href="#" ng-click="openLogin()">Log In</a>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div><!-- /.modal-content -->














