                                                                             <div class="modal-header">
    <h3>
        Log in</h3>
</div>
<div class="modal-body" id="divsignin">
</div>
    <h4 ng-show="pwdInvalid">Invalid Login details</h4>
<h4 ng-show="Inactive">Profile is Not Activated</h4>
    <form id="userentry-form">
    <div style="margin-left:15px;">
        <input type="email" placeholder="Email Address" required ng-model="$parent.email">
        <input type="password" placeholder="Password" required ng-model="$parent.password">
        <br />
        <small>
        <a href style="margin-left:50px;" ng-click="openReset()">Forgot password</a>
        </small>
        <div>
            <br />
            <button ng-disabled="IsLoading" type="submit" ng-click="login()" class="btn btn-primary btn-large large padded-btn-block">
                Log In
            </button>
            <img ng-show="IsLoading" src="content/images/loading.gif" />
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    Don't have an account? <a href ng-click="openSignup()">Sign up</a>
    <button class="btn btn-warning" ng-click="cancel()">
        Cancel</button>
</div>
