  <div class="pull-left w100p" style="height:40px; background-color:black; opacity:.8">



    <a ng-href="{{'#/aboutus'}}" style="color:white; margin-left:5px"> About </a>
      <a ng-href="{{'#/contactus'}}" style="color:white; margin-left:50px"> Contact Us</a>
      <a ng-href="{{'#/contactus'}}" style="color:white; margin-left:50px"> Terms and Conditions</a>
      <a ng-href="{{'#/contactus'}}" style="color:white; margin-left:50px"> Become an Affiliate</a>
</div>       
        <!-- /.navbar-collapse -->
  
    <!-- /.container -->
