<!--<div data-ng-controller="sidebar as vm">
    
</div>-->
<div class="row">
    <ul class="list-group dashboardNav">
        <li class="list-group-item userBx">
            <span class="outercircle"> <span class="glyphicon glyphicon-user custIcon"></span></span>   {{UserName}}
        </li>
        <li class="list-group-item">
            <a ng-href="#/userquestionsubmit"><span class="glyphicon glyphicon-credit-card custIcon"></span> Ask Question</a>
        </li>
       
        <li class="list-group-item">
            <a ng-href="#/userdashboard"><span class="glyphicon glyphicon-credit-card custIcon"></span>Transactions</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#/userquestions"><span class="glyphicon glyphicon-pencil custIcon"></span>Questions</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#/userhistory"><span class="glyphicon glyphicon-globe custIcon"></span>History</a>
        </li>
        <li class="list-group-item" ng-hide="true">
            <a href="#"><span class="glyphicon glyphicon-file custIcon"></span>Report</a>
        </li>
    </ul>
</div>