<nav class="navbar navbar-inverse navbar-fixed-top bgblue" role="navigation">
    <div class="container eo_menu">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Expert Opinion</a>
            <a class="pull-right"  href ng-click="openSignIn(2)">Login As Expert</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav_largeview">
                <li>
                    <a href="#">Experts </a>
                </li>
                <li>
                    <a href="#">      Hospitals </a>
                </li>
                <li>
                    <a href="#">      About   </a>
                </li>
                <li>
                    <a href="#">    Contact Us</a>
                </li>
                <li ng-hide="userLoggedIn">
                    <a href ng-click="openSignIn(1)">    Login <span class="caret"></span></a>
                </li>

                <li>
                    <div style="float:right;" ng-show="userLoggedIn">
                        <span margin-right:-80px;>
                            Welcome {{UserName}}
                        </span>
                    <br/>
                        <a href ng-click="SignOut()">Sign Out</a>
                    </div>
                </li>
            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>